.preloader{
    position:absolute;
    @include center-abs(0);
    width: 100%;
    height: 100%;
    background:white;
    z-index: 100;
    .spinner-sm {
        position:absolute;
        @include center-abs(0);
        border: 3px solid $secondary-color;
        border-top: 3px solid $primary-color;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        animation: spin 1s linear infinite;
    }

}

 

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
